.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 200%;
  margin-bottom: 4rem;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn1,
.btn2 {
  border: none;
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  width: 75%;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);
}

.btn1 {
  margin-bottom: 3rem;
}
