.txt {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 1rem 2rem 0 2rem;
}
.txtspan {
  color: var(--color-dark-gray);
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}
.ask {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  width: 100%;
  text-align: right;
  margin: 0 20% 0.5rem 0;
  color: var(--color-bg);
  font-weight: 500;
}
.askta {
  all: unset;
  width: 80%;
  height: 10rem;
  padding: 0.5rem;
  border: 0.2rem solid var(--color-bg);
  border-radius: 1rem;
}
.askta:focus {
  border: 0.2rem solid var(--color-bg-light);
}

.filetxt {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 2rem 2rem 1rem 2rem;
}
.addfile {
  margin-left: 2rem;
}
.input {
  display: none;
}
.inputlabel {
  font-weight: 500;
  background-color: var(--color-bg-light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.filespan {
  width: 90%;
  text-align: right;
  color: var(--color-bg);
  font-weight: 500;
}
.showfile {
  border: 0.2rem solid var(--color-bg);
  border-radius: 1rem;
  width: 80%;
  height: 6rem;
  margin: 0.5rem auto 1.5rem auto;
  padding: 0.5rem;
}
.filelist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filename {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.5rem;
  color: var(--color-dark-gray);
}
.deletebtn {
  all: unset;
}
.btn {
  color: var(--color-dark-gray);
}

.btnarea {
  text-align: center;
}
.donebtn {
  width: 90%;
  height: 3rem;
  background-color: var(--color-bg);
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 1rem;
}
