.container {
  width: 100vw;
  height: fit-content;
}
.header {
  margin: 0;
  position: fixed;
  top: 0;
}

.mainheader {
  width: 100%;
  padding-top: 6rem;
}
.askform {
  margin: 0.6rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 2.5rem;
  padding: 1rem;
}

.askform::after {
  content: '';
  display: block;
  width: 5rem;
  border-bottom: 0.3rem solid var(--color-bg-light);
  padding-top: 1rem;
  margin: 0 auto;
}

.choosearea {
  margin-top: 10rem;
}

.choose1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}
.choose {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.btn1,
.disbtn1 {
  all: unset;
  width: 80%;
  height: 4rem;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 1rem;
  margin: 0.5rem 0;
}
.btn1 {
  background-color: var(--color-bg);
  color: var(--color-white);
}
.disbtn1 {
  background-color: var(--color-bg-light);
}

/* 상담진행방식 버튼 */
.btnproceed,
.disbtnproceed {
  all: unset;
  width: 80%;
  height: 5rem;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;

  border-radius: 1rem;
  margin: 2rem 0;
}
.btnproceed {
  background-color: var(--color-bg);
  color: var(--color-white);
}
.disbtnproceed {
  background-color: var(--color-bg-light);
}
/* 상담분야 버튼 */
.choose2 {
  width: 100%;
  padding: 0;
  display: grid;
  place-items: center;
  grid-template-columns: 48% 48%;
  justify-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-top: 10rem;
}

.btn2 {
  all: unset;
  width: 100%;
  height: 4rem;
  font-weight: 800;
  font-size: 1.1rem;
  text-align: center;
  background-color: var(--color-bg-light);
  border-radius: 1rem;
  margin: 1rem 0;
}

/* 상담지역, 기술분야 */
.choose3 {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 0.8rem;
  column-gap: 0.5rem;
  place-content: center;
  justify-items: center;
  margin-top: 10rem;
}

.btn3 {
  all: unset;
  width: 100%;
  height: 4rem;
  font-weight: 800;
  font-size: 1.1rem;
  text-align: center;
  background-color: var(--color-bg-light);
  border-radius: 1rem;
  margin: 1rem 0;
}

.pickarea {
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* 상담내용, 상담일시*/
.datetimepickarea {
  width: 100%;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
}

.datepick {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.txt {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 2rem;
}

.choose5 {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  place-content: center;
  justify-items: center;
}
