.userInfo {
  width: 100vw;
  height: 100vh;
}

.header {
  position: sticky;
  height: 10%;
  top: 0;
}

.content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #0a3779;
}

.input {
  width: 75%;
  height: 5vh;
  margin-bottom: 10%;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #0a3779;
  border-radius: 10px;
  padding: 1% 2%;
}

.button {
  width: 20%;
  height: 5vh;
  background: white;
  color: white;
  background: #0a3779;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
}
