.header {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  position: fixed;
  left: 0.1rem;
}
.backicon {
  all: unset;
  width: fit-content;
}
.titleplace {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
