.userInfo {
  width: 100vw;
  height: 100vh;
}

.header {
  position: sticky;
  height: 10%;
  top: 0;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.review {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  color: #f0ce4a;
}

.nonActive {
  color: #efefef;
}
