.form {
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.input {
  all: unset;
  border: 0.1rem solid var(--color-bg);
  border-radius: 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.9rem;
  margin-bottom: 1.3rem;
}
.btn {
  all: unset;
  text-align: center;
  border: 0.1rem solid var(--color-bg);
  border-radius: 0.4rem;
  color: var(--color-white);
  background-color: var(--color-bg);
  font-size: 1em;
  font-weight: 600;
  padding: 1rem;
  margin-bottom: 0.7rem;
}
