:root {
  --color-bg: #0a3779;
  --color-bg-light: #dceaff;
  --color-accent: #f16e03;
  --color-gray: #d1d1d1;
  --color-light-gray: #e2e2e2;
  --color-dark-gray: rgb(134, 134, 134);
  --color-white: white;
  --color-black: black;
  --color-red: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
